// this scss is meant to be used with marked (markedapp.com, @markedapp) for prose
// https://github.com/maxjacobson/marked-themes
// by max jacobson (maxjacobson.net, @maxjacobson)
// use freely
//
// some variables for simple edits
$background: #E7EEC7;
$invertbg: #343036; // when high contrast is turned on
$inverttext: #D7D2E6;
$text: #000;
$link: #CA2CC3;
$link-hover: #880075;
$link-visited: #880075;
$quoteborder: #CA2CC3;
$liststyle: square; // other options here: http://www.w3schools.com/cssref/pr_list-style-type.asp
$liststyle2: disc; // nested
$liststyle3: circle; // nested once more
$bodywidth: 850px;

// first here are the google web fonts

// using this one for h1
@font-face {
  font-family: 'Faster One';
  font-style: normal;
  font-weight: 400;
  src: local('Faster One'), local('FasterOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/fasterone/v1/R45a6_a3GGq28ugU8uxGWb3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

//h2, h3, h4, h5, h6
@font-face {
  font-family: 'Oleo Script Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script Swash Caps'), local('OleoScriptSwashCaps-Regular'), url(http://themes.googleusercontent.com/static/fonts/oleoscriptswashcaps/v1/vdWhGqsBUAP-FF3NOYTe4pakf2VKGDa1aHLWGf__tlnr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}

// body (everything else)
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular'), url(http://themes.googleusercontent.com/static/fonts/noticiatext/v3/wdyV6x3eKpdeUPQ7BJ5uUKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

body {
  color: $text;
  font-size: 1.5em;
  font-family: 'Noticia Text', serif;
  margin: 50px auto;
  width: $bodywidth;
}

p+p {
  // refers to paragraphs that directly follow a paragraph
  margin-top: -1em;
  text-indent: 1.5em;
}

a {
  color: $link;
  &:hover { color: $link-hover; }
  &:visited { color: $link-visited; }
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  margin: 0 3em;
  padding: 0 0 0 0.5em;
  border-left: 3px solid $quoteborder;
  p+p {
    // I think it looks better to not indent paragraphs in block quotes
    text-indent: 0;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h1 {
  font-family: 'Faster One', serif;
  font-size: 250%;
}

h2, h3, h4, h5, h6 {
  font-family: 'Oleo Script Swash Caps', serif;
}

h2 {
  font-size: 175%;
}

h3, h4, h5, h6 {
  font-size: 125%;
}

ul {
  list-style-type: $liststyle;
}

li > ul {
  // nested once
  list-style-type: $liststyle2;
}

li > ul > li > ul {
  // nested twice
  list-style-type: $liststyle3;
}

a.footnote {
  // eg, the [1] that gets inserted into your text which you click on to go to the footnote
  font-size: 50%;
  vertical-align: super;
}

hr {
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  color: black;
  &:after {
    // if you want to change the symbol, read this
    // `\a0 ` becomes a space (note the trailing space)
    // for symbols use the code hex with a leading \
    // see the right-most code hex column here: http://www.danshort.com/HTMLentities/index.php?w=dingb
    // you would take something like `&#x2701;` and change it to `\2701` in this context
    content: "\2724\a0 \2724\a0 \2724";
  }
}

// this from http://support.markedapp.com/kb/how-to-tips-and-tricks/writing-custom-css-for-marked
.poetry pre code {
  font-family:Georgia, Garamond, serif;
  font-style:italic;
  font-size:110% !important;
  line-height:1.6em;
  display:block;
  margin-left:1em;
}

code, pre {
  overflow: auto;
}

div.footnotes {
  hr {
    // the hr that precedes the footnotes should look different
    margin: 1em 0;
    width: 75%;
    border-style: dashed;
    border-width: 1px 0 0 0;
    border-color: $text;
    &:after {
      content: "";
    }
  }
  p {
    display: inline;
  }
}

@media screen {
  body {
    // putting this in the screen section means when you print, it will use the default (white) background
    background-color: $background;
  }
  .inverted {
    background: $invertbg !important;
    *:not(a) { // everything but links will be affected
      color: $inverttext !important;
    }
  }
}

@media only screen and (max-width: $bodywidth) {
  body {
    font-size: 1em;
    padding: 0 10px;
    width: 90%;
  }
}

@media print {
  body {
    font-size: 1em;
    padding: 1em;
    width: 90%;
  }
}